In [1]:
print ("This line will be printed.")

This line will be printed.

In [2]:
name = "John"
age = 23
print ("%s is %d years old." % (name, age))

John is 23 years old.

In [3]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print(f'{name} is {age} years old')

Enter your name: Dipu
Enter your age: 21
Dipu is 21 years old

In [4]:
x=5
print(x)
print(type(x))

5
<class 'int'>

In [5]:
x="hello"
print(x)
print(type(x))

hello
<class 'str'>

In [6]:
import math
print(format(math.pi, '0.12g'))
print(format(math.pi, '0.6f'))

3.14159265359
3.141593

In [7]:
2**52 <= 2**56 // 10 < 2**53

True

In [8]:
# If statement
x = 4
if x < 1:
    score = "low"
elif x <= 4: # elif = else if
    score = "medium"
else:
    score = "high"
print (score)

medium

In [9]:
# If statement with a boolean
x = True
if x:
    print ("it worked")

it worked

In [12]:
# For loop
veggies = ["carrots", "broccoli", "beans"]
for veggie in veggies:
    if veggie == "broccoli":
        continue
    print(veggie)

carrots
beans

In [13]:
# Creating a list
x = [3, "hello", 1.2
]
print (x)

[3, 'hello', 1.2]

In [15]:
# Creating a tuple
x = (3.0, "hello")
# tuples start and end with ()
print (x)

(3.0, 'hello')

In [16]:
# Sets
text = "SDS IN PYTHON"
print (set(text))
print (set(text.split(" ")))

{'S', 'P', 'H', 'T', 'N', 'D', ' ', 'I', 'O', 'Y'}
{'IN', 'SDS', 'PYTHON'}

In [17]:
# Grab every letter in string
lst = [x for x in 'word']
lst

['w', 'o', 'r', 'd']

In [18]:
# Check for even numbers in a range
lst = [x for x in range(11) if x % 2 == 0]
lst

[0, 2, 4, 6, 8, 10]

In [22]:
# Convert Celsius to Fahrenheit
celsius = [0,10,20.1,34.5]
fahrenheit = [ ((float(9)/5)*temp + 32) for temp in celsius ]
fahrenheit

[32.0, 50.0, 68.18, 94.1]

In [23]:
#nested list comprehension
lst = [ x**2 for x in [x**2 for x in range(11)]]
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [24]:
phonebook = { "John" : 938477566, "Jack" : 938377264, "Jill" : 947662781 }
print(phonebook)

{'John': 938477566, 'Jack': 938377264, 'Jill': 947662781}

In [26]:
for name, number in phonebook.items():
    print("Phone number of %s is %d" % (name, number))

Phone number of John is 938477566
Phone number of Jack is 938377264
Phone number of Jill is 947662781

In [29]:
# Define the function
def add_two(x):
    # explains what this function will do
    x += 2
    return x

In [32]:
def f(*args, **kwargs):
    x = args[0]
    y = kwargs.get("y")
    print (f"x: {x}, y: {y}")
f(5, y=2)

x: 5, y: 2