<br>
<div style="font-style: bold; text-align: center;">
<img src="https://www.ewubd.edu/themes/east-west-university/assets/default/images/logo.png" alt="ERROR" title="EWULOGO" width=":5.72917in"/><br>Department of Computer Science & Engineering
<br><br><br>
</div>
<br><br>
<div style="font-style:underline; text-align: center;" markdown="1">

# Lab Report – 2
<br><br>
<br><br>

</div>


<div style="font-style: bold; text-align: left;" markdown="1">

## Semester : Spring 2022

## Course Number : CSE303

## Course Title : Statistics for Data Science

## Course Instructor : Md Al-Imran

<br><br>
<br><br>
<br><br>
<br><br>

## > student ID: 2019-1-60-093
## > Student Name: Md. Asad Chowdhury Dipu
## > Section: 03
## > Date Of Submission: 2/03/2022
<br>
</div>
<br>

In [11]:
# reading input values from user
username = input('What is your name? ')
age = int(input('What is your age? '))
greeting = input('write your greetings: ')
def my_function_with_args(username, age, greeting):
    print("Hello, %s , Your age is %d, From My Function!, I wish you %s"%(username, age, greeting))

my_function_with_args(username, age, greeting)
#Lambda:
double = lambda x: x * 2
print(double(5))

What is your name? dIPU
What is your age? 21
write your greetings: WELCOME
Hello, dIPU , Your age is 21, From My Function!, I wish you WELCOME
10

In [12]:
# Creating the class
class Pet(object):
    def __init__(self, species, name):
        self.species = species
        self.name = name

In [2]:
# Creating an instance of a class
my_dog = Pet(species="dog",
    name="Scooby")

print (my_dog)
print (my_dog.name)

<__main__.Pet object at 0x000001F389DF3D60>
Scooby

In [3]:
# Creating the class
class Pet(object):
    def __init__(self, species, name):
        self.species = species
        self.name = name
    def __str__(self):
        return f"{self.species} named {self.name}"

In [4]:
# Creating an instance of a class
my_dog = Pet(species="dog",
    name="Scooby")

print (my_dog)
print (my_dog.name)

dog named Scooby
Scooby

In [5]:
# Creating the class
class Pet(object):
    def __init__(self, species, name):
        self.species = species
        self.name = name
    def __str__(self):
        return f"{self.species} named {self.name}"
    def change_name(self, new_name):
        self.name = new_name

In [6]:
# Creating an instance of a class
my_dog = Pet(species="dog", name="Scooby")
print (my_dog)
print (my_dog.name)

dog named Scooby
Scooby

In [7]:
# Using a class's function
my_dog.change_name(new_name="Scrappy")
print (my_dog)
print (my_dog.name)

dog named Scrappy
Scrappy

In [8]:
#Inheritance
class Dog(Pet):
    def __init__(self, name, breed):
        super().__init__(species="dog", name=name)
        self.breed = breed
    def __str__(self):
        return f"A {self.breed} doggo named {self.name}"

scooby = Dog(breed="Great Dane", name="Scooby")
print (scooby)

A Great Dane doggo named Scooby

In [9]:
scooby.change_name("Scooby Doo")
print (scooby)

A Great Dane doggo named Scooby Doo

In [10]:
def filterVowels(letter):
    vowels = ['a', 'e', 'i', 'o', 'u']
    if(letter in vowels):
        return True
    else:
        return False
letters = "oop python"
filteredVowels = filter(filterVowels, letters)
print('The filtered vowels are:')
for vowel in filteredVowels:
    print(vowel)

The filtered vowels are:
o
o
o

# Exercise

1. Find all of the numbers from 1–1000 that are divisible by 8

In [8]:
list=[]
for i in range(1,1001):
    if (i%8 ==0):
        list.append(str(i))
print (list)

['8', '16', '24', '32', '40', '48', '56', '64', '72', '80', '88', '96', '104', '112', '120', '128', '136', '144', '152', '160', '168', '176', '184', '192', '200', '208', '216', '224', '232', '240', '248', '256', '264', '272', '280', '288', '296', '304', '312', '320', '328', '336', '344', '352', '360', '368', '376', '384', '392', '400', '408', '416', '424', '432', '440', '448', '456', '464', '472', '480', '488', '496', '504', '512', '520', '528', '536', '544', '552', '560', '568', '576', '584', '592', '600', '608', '616', '624', '632', '640', '648', '656', '664', '672', '680', '688', '696', '704', '712', '720', '728', '736', '744', '752', '760', '768', '776', '784', '792', '800', '808', '816', '824', '832', '840', '848', '856', '864', '872', '880', '888', '896', '904', '912', '920', '928', '936', '944', '952', '960', '968', '976', '984', '992', '1000']

2. Find all of the numbers from 1–1000 that have a 6 in them

In [15]:
list=[]
for i in range (1 ,1001):
    if str(i).find('6') != -1:
        list.append(str(i))  
print(list)

['6', '16', '26', '36', '46', '56', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '76', '86', '96', '106', '116', '126', '136', '146', '156', '160', '161', '162', '163', '164', '165', '166', '167', '168', '169', '176', '186', '196', '206', '216', '226', '236', '246', '256', '260', '261', '262', '263', '264', '265', '266', '267', '268', '269', '276', '286', '296', '306', '316', '326', '336', '346', '356', '360', '361', '362', '363', '364', '365', '366', '367', '368', '369', '376', '386', '396', '406', '416', '426', '436', '446', '456', '460', '461', '462', '463', '464', '465', '466', '467', '468', '469', '476', '486', '496', '506', '516', '526', '536', '546', '556', '560', '561', '562', '563', '564', '565', '566', '567', '568', '569', '576', '586', '596', '600', '601', '602', '603', '604', '605', '606', '607', '608', '609', '610', '611', '612', '613', '614', '615', '616', '617', '618', '619', '620', '621', '622', '623', '624', '625', '626', '627', '628', '629', '630', '631', '632', '633', '634', '635', '636', '637', '638', '639', '640', '641', '642', '643', '644', '645', '646', '647', '648', '649', '650', '651', '652', '653', '654', '655', '656', '657', '658', '659', '660', '661', '662', '663', '664', '665', '666', '667', '668', '669', '670', '671', '672', '673', '674', '675', '676', '677', '678', '679', '680', '681', '682', '683', '684', '685', '686', '687', '688', '689', '690', '691', '692', '693', '694', '695', '696', '697', '698', '699', '706', '716', '726', '736', '746', '756', '760', '761', '762', '763', '764', '765', '766', '767', '768', '769', '776', '786', '796', '806', '816', '826', '836', '846', '856', '860', '861', '862', '863', '864', '865', '866', '867', '868', '869', '876', '886', '896', '906', '916', '926', '936', '946', '956', '960', '961', '962', '963', '964', '965', '966', '967', '968', '969', '976', '986', '996']

3. Count the number of spaces in a string (use string above)

In [19]:
str = "Hello! This is asad Chowdhury Dipu from CSE303!"
print("Given String: ", str)
count=0

for i in range(1, len(string)):
    if(string[i] == ' '):
        count+=1
print("Number of spaces in a string: ",count)

Given String:  Hello! This is asad Chowdhury Dipu from CSE303!
Number of spaces in a string:  7

4. Remove all of the vowels in a string (use string above)

5. Find all of the words in a string that are less than 5 letters (use string above)

6. Use a dictionary comprehension to count the length of each word in a sentence (use string above)

7. Use a nested list comprehension to find all of the numbers from 1–1000 that are divisible by any
single digit besides 1 (2–9)

8. For all the numbers 1–1000, use a nested list/dictionary comprehension to find the highest single
digit any of the numbers is divisible by