## Pandas Series

In [4]:
import pandas as pd

In [5]:
obj = pd.Series([4,10,-5,15])
obj

0     4
1    10
2    -5
3    15
dtype: int64

In [6]:
obj +2

0     6
1    12
2    -3
3    17
dtype: int64

In [7]:
obj*2

0     8
1    20
2   -10
3    30
dtype: int64

In [8]:
obj%2

0    0
1    0
2    1
3    1
dtype: int64

In [9]:
obj[obj%2==0]

0     4
1    10
dtype: int64

In [12]:
data = {"EWU":1212, "DU":1211, "KUET":7455, "KU":7456,"KUET":7454}
obj1=pd.Series(data)
obj1

EWU     1212
DU      1211
KUET    7454
KU      7456
dtype: int64

## Pandas DataFrame

In [18]:
#From List
list1 = [['Sujon',12,3.5,10],['Mehedi',20,15,13.5],['Kashem',11,13,7.688]]
df = pd.DataFrame(list1)
print(df.head())

        0   1     2       3
0   Sujon  12   3.5  10.000
1  Mehedi  20  15.0  13.500
2  Kashem  11  13.0   7.688

In [20]:
list1 = [['Alice',23,3.5,10],['Bob',24,3.4,6],['Charlie',22,3.9,8]]
df = pd.DataFrame(list1)
df.columns = ['name','age','cgpa','hoursStudied']
print(df.head())

      name  age  cgpa  hoursStudied
0    Alice   23   3.5            10
1      Bob   24   3.4             6
2  Charlie   22   3.9             8

In [23]:
#From Dictionary
dict1 = {'id':[1,2,3],'name':['alice','bob','charlie'],'age':[20, 25, 32]}
df1 = pd.DataFrame(dict1)
print(df1)

   id     name  age
0   1    alice   20
1   2      bob   25
2   3  charlie   32